##忽略
/target/
target/
Logs/
/Logs/

*.html
*.txt
*.TXT.*
*.TXT

Logs/Account-Log.txt
Logs/LOG4J/Record-Standard.txt

src/main/webapp/AdminLTE/
/bin/

.project
.gitignore
.classpath

/.settings/
.settings

.git
/.git/

.gitignore
.settings/org.eclipse.core.resources.prefs

