<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<!--使用annotation-driven 注解驱动,就可以代替注解映射器和注解适配器的配置 -->
	<mvc:annotation-driven />

	<!-- 解除servlet对静态资源文件访问的限制 -->
	<mvc:default-servlet-handler />

	<!-- 配置组件扫描 -->
	<!--validator:向处理器适配器,注入校验器 -->
	<!-- controller:控制器层根包名 -->
	<context:component-scan
		base-package="controller" />

	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--配置响应前后缀 -->
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 配置注解驱动 -->
	<mvc:annotation-driven>
		<mvc:message-converters
			register-defaults="true">
			<bean
				class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes"
					value="text/plain;charset=UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 拦截器链:针对请求 -->
	<mvc:interceptors>
		<!-- 第1个拦截器 -->
		<mvc:interceptor>

			<!-- 1. 拦截路径（黑名单） -->
			<mvc:mapping path="/account/**" />

			<!-- 2. 例外（白名单） -->
			<mvc:exclude-mapping path="/account/login" />
			<mvc:exclude-mapping path="/account/reg" />
			<mvc:exclude-mapping
				path="/account/toAdminWorkable" />
			<mvc:exclude-mapping
				path="/account/showAllAccount" />
			<mvc:exclude-mapping path="/account/earse" />
			<mvc:exclude-mapping path="/account/toTransfer" />
			<mvc:exclude-mapping path="/account/emerge**" />
			<mvc:exclude-mapping
				path="/account/execute_revamp" />
			<mvc:exclude-mapping
				path="/account/multiple_cancel" />
			<mvc:exclude-mapping
				path="/account/multiple_active" />
			<mvc:exclude-mapping
				path="/account/multiple_reset_pwd" />
			<mvc:exclude-mapping
				path="/account/search_by_threeType_scene" />
			<mvc:exclude-mapping
				path="/account/search_by_confuse_name" />
			<mvc:exclude-mapping path="/account/single/**" />
			<mvc:exclude-mapping
				path="/account/read_substacne" />
			<mvc:exclude-mapping
				path="/account/revisePasswordHandler" />
			<mvc:exclude-mapping
				path="/account/reviseBaseProfileHandler" />

			<!-- 3. 拦截器,各请求前往该类进行处理 -->
			<bean class="mechanism.LoginMechanism" />
		</mvc:interceptor>
	</mvc:interceptors>

</beans>